[submodule "goflow2"]
	path = goflow2
	url = https://github.com/nocsysmonitor/goflow2
[submodule "charts/helm-snort-ids"]
	path = charts/helm-snort-ids
	url = https://github.com/nocsyshelmrepo/helm-snort-ids
[submodule "charts/helm-yolo"]
	path = charts/helm-yolo
	url = https://github.com/nocsyshelmrepo/helm-yolo
[submodule "charts/helm-mars"]
	path = charts/helm-mars
	url = https://github.com/nocsyshelmrepo/helm-mars
[submodule "charts/code-server"]
	path = charts/code-server
	url = https://github.com/nocsyshelmrepo/code-server-helm-charts.git
[submodule "charts/label-studio"]
	path = charts/label-studio
	url = https://github.com/nocsyshelmrepo/label-studio-helm-charts.git
[submodule "charts/mlflow"]
	path = charts/mlflow
	url = https://github.com/nocsyshelmrepo/ml-flow-helm-charts.git
[submodule "charts/rstudio"]
	path = charts/rstudio
	url = https://github.com/nocsyshelmrepo/dsri-helm-charts.git
[submodule "yunikorn"]
	path = yunikorn
	url = https://github.com/apache/yunikorn-release
